@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --blue: #48afff;
  --grey: #f1f3f6;
  --white: #ffffff;
  --black: #000;
}
body {
  width: 100%;
  height: 100vh;
  background-color: var(--grey);
}
.header {
  width: 100%;
  height: 70px;
  background-color: var(--blue);
}
.logo {
  font-size: 2rem;
  color: var(--white);
  font-family: sans-serif;
}
.search {
  width: 40vw;
  border-radius: 5px;
  height: 50px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 1rem;
  display: block;
}
.search::placeholder {
  padding: 2px;
  font-size: 1rem;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
}
.navbar > a {
  text-decoration: none;
}
.nav-btn {
  padding: 10px 30px;
  color: var(--blue);
  background-color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  border: 1px solid transparent;
  transition: 0.3s;
}
.nav-btn2 {
  padding: 10px 30px;
  color: var(--white);
  background-color: var(--blue);
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.nav-btn:hover {
  background-color: var(--blue);
  color: var(--white);
  border: 1px solid var(--white);
}
.nav-btn2:hover {
  background-color: var(--white);
  color: var(--blue);
}
.categories {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--white);
}
.company-logo > a > img {
  width: 10vw;
  height: 8vh;
  margin: 10px;
}
.company-logo {
  border: 3px solid transparent;
}
.company-logo:hover {
  opacity: 0.5;
  border-bottom: 3px solid var(--blue);
  cursor: pointer;
}
/* navbar responsive  */
@media (max-width: 600px) {
  .header {
    padding-top: 6px;
  }
  .search {
    display: none;
  }
  .logo {
    font-size: 1.4rem;
    margin-left: 10px;
    margin-right: 10px;
  }
  .nav-btn {
    color: var(--white);
    background-color: var(--blue);
    border: 1px solid #ffffff;
    padding: 8px 15px;
    margin-left: 0px;
  }
  .nav-btn2 {
    padding: 8px 15px;
    margin-right: 20px;
  }
  .company-logo > a > img {
    width: 8vw;
    height: 5vh;
    margin: 5px;
  }
}
.banner > img {
  width: 100%;
  height: 50%;
  margin-top: 20px;
}
.heading_two {
  color: rgb(70, 68, 68);
  font-family: sans-serif;
  margin: 20px;
}
/* card section  */
#main_div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* cart section  */

#cart_div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.cart {
  background-color: var(--blue);
  border-radius: 20px;
  width: 20vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  box-shadow: 0px 0px 10px #000;
}
.cart > img {
  width: 14vw;
  height: 20vh;
  border-radius: 10px;
  margin-top: 20px;
}
.specs {
  margin-top: 10px;
  font-size: 0.9rem;
  padding-left: 20px;
}
.specs > h3 {
  color: var(--grey);
}
.specs > h3 > span {
  font-weight: 100;
  font-family: "stylish";
}

/* cart btn */
.cart-btn {
  width: 70%;
  color: var(--blue);

  margin: 8px 0px;
  border: 2px solid #ffffff;
  border-radius: 13px;
  padding: 5px 16px;
  display: inline-block;
  font-family: "stylish";
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 var(--blue);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.cart-btn:hover {
  box-shadow: inset 0 100px 0 0 var(--blue);
}
/* cart btn end  */
.cart-btn:hover {
  background-color: var(--blue);
  color: var(--white);
  border: 2px solid var(--white);
}
.cart-btn2 {
  padding: 5px 10px;
  margin: 10px;
  background-color: var(-);
  color: var(--blue);
  font-weight: 900;
  font-size: 1rem;
  font-family: "stylish";
  border: none;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid transparent;
}
.cart-btn2:hover {
  background-color: var(--blue);
  color: var(--white);
  border: 2px solid var(--white);
}
.cart-btn3 {
  /*Incerese and deceresed buttton */
  padding: 0px 5px;
  margin: 10px;
  background-color: var(--white);
  color: var(--blue);
  font-weight: 900;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border: 2px solid transparent;
}
.cart-btn3:hover {
  background-color: var(--blue);
  color: var(--white);
  border: 2px solid var(--white);
}
/* cart responsive  */

@media (max-width: 600px) {
  #main_div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  #cart_div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .cart {
    width: 50%;
  }
  .cart > img {
    width: 65%;
    height: 50%;
  }
}

.check-btn {
  padding: 10px 20px;
  background-color: var(--blue);
  border: none;
  color: #ffffff;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid transparent;
}
.check-btn:hover {
  background-color: var(--white);
  color: var(--blue);
  border: 2px solid var(--blue);
}
.btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.head-one {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--blue);
}
.head-two {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: lightseagreen;
}
#cart_div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#cart_div {
  color: #ffffff;
}
#head {
  text-align: center;
}
.sub-head {
  color: var(--blue);
  font-size: xx-large;
  font-family: "stylish";
}
.total {
  font-size: 2rem;
  font-family: "stylish";
}

/* Go To button */

.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
/* Go To Button End  */

/* register section start  */
.register {
  /* border: 1px solid  #ffffff55  ; */
  border: 1px solid rgb(192, 190, 190);
  width: 500px;
  margin: 60px auto;
}
.register-head {
  text-align: center;
  margin-top: 20px;
  color: var(--blue);
  font-family: "stylish";
  font-size: 1.7rem;
}
.register-input {
  display: block;
  width: 100%;
  margin-left: 10px;
  border: unset !important;
  background: none;
  outline: none;
}
.register-input::placeholder {
  color: gray;
}

.input-hdng {
  margin-left: 10px;
  color: rgb(44, 44, 44);
  font-size: small;
}
.register-input-div {
  border: 1px solid grey;
  /* border-left: 5px solid grey; */
  border-radius: 5px;
  display: block;
  width: 80%;
  margin: 25px auto;
  padding: 5px;

  /* background-color:#979494; */
}
.input-submit {
  border: none;
  border-radius: 5px;
  display: block;
  width: 80%;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--blue);
  cursor: pointer;
}
.submit-btn {
  color: #ffffff;
  letter-spacing: 3px;
  background-color: var(--blue);
  border: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

#head-three {
  text-align: center;
  color: green;
  font-family: "stylish";
  font-size: 1.1rem;
  margin-bottom: 20px;
}
.forgot-pass-a {
  text-decoration: none;
  margin-left: 55px;
  font-size: 12px;
}
.forgot-pass-a:hover {
  color: rgb(69, 155, 212);
}
.input-submit-register {
  border: none;
  border-radius: 5px;
  display: block;
  width: 80%;
  margin: 15px auto;
  padding: 15px;
  background-color: #e4574a;
  cursor: pointer;
}
.input-submit-register-fb {
  border: none;
  border-radius: 5px;
  display: block;
  width: 80%;
  margin: 15px auto;
  padding: 15px;
  background-color: #537fdd;
  cursor: pointer;
}
.submit-btn-register {
  background-color: #e4574a;
  color: #ffffff;
  border: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.submit-btn-fb {
  background-color: #537fdd;
  color: #ffffff;
  border: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.form-p {
  text-align: center;
}

.bg-form-icon {
  background-color: #cf463a;
}
.bg-form-icon-fb {
  background-color: #3b5998;
}
.form-end-para {
  text-align: center;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 30px;
}
.red-text {
  color: red;
  cursor: pointer;
}
#register-body {
  background-color: #ffffff;
}

/* register section end  */
/* register responsive  */
@media (max-width:600px) {
  .register{
    width: 300px;
  }
  .register-input-div{
    width: 90%;
  }
  
}
